@font-face
{
	font-family: Digital;
	src: url("../fonts/Digital.ttf");
}

@-o-keyframes backgroundAnimation
{
	0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.25;}
    100% {opacity: 0;}
}

@-moz-keyframes backgroundAnimation
{
	0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.25;}
    100% {opacity: 0;}
}

@-webkit-keyframes backgroundAnimation
{
	0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.25;}
    100% {opacity: 0;}
}

@keyframes backgroundAnimation
{
	0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.25;}
    100% {opacity: 0;}
}

#old-man-girl-frame
{
	background-color: white;
	background-image: url("../pics/old-man-girl-comix.png");
	background-size: 300% auto;
	background-repeat: no-repeat;
	background-position: 3% 10%;
	opacity: 0;
	
	-webkit-transition: all 1s;                  
    -moz-transition: all 1s;                 
    -o-transition: all 1s;   
    -ms-transition: all 1s;          
    transition: all 1s;
}

#girls-question
{
	width: 40%;
	height: 50%;
	position: absolute;
	left: 40%;
	top: 55%;
	background-image: url(../pics/girls-question.png);
	background-size: 100% 100%;
	padding: 8%;
	padding-top: 8.5%;
	font-size: 3vmin;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

/*WATER CYCLE PART*/
/****/

#water-cycle
{
	position: absolute;
	width: 100%;
	height: 100%;
	/*position: relative;
	top: 0%;
	left: 0%;*/
	background-image: url(../pics/water-cycle.jpg);
	background-size: 100% 120%;
	background-position: 0% 50%;
}

.process
{
	float: left;
	width: auto;
	text-align: center;
	height: 5%;
	position: absolute;
	top: 0%;
	font-size: 3vmin;
	color: white;
	border-radius: 1vmin;
	padding: 1%;
	z-index: 5;
	text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black,  0vmin 0vmin 1vmin black;
}

.process i
{
	z-index: 10;
}

#thermometer
{
	width: 5%;
	height: 30%;
	position: absolute;
	background-image: url(../pics/thermometer.png);
	background-size: 100% 100%;
	top: 65%;
	left: 93%;
}

.process i:hover { color: red; }

#heat-kaz {	top: 15%; left: 15%; }
#heat-rus {	top: 2%; left: 12%; }
#heat-eng {	top: 9%; left: 10%;  }
#evaporation-eng {	top: 70%; left: 2%; }
#evaporation-rus {	top: 63%; left: 7%; }
#evaporation-kaz {	top: 77%; left: 7%; }
#boiling-eng {	top: 65%; left: 30%; }
#boiling-rus {	top: 58%; left: 35%; }
#boiling-kaz {	top: 72%; left: 35%; }
#cooling-eng {	top: 35%; left: 2%; }
#cooling-rus {	top: 30%; left: 13%; }
#cooling-kaz {	top: 42%; left: 12%; }
#condensation-eng {	top: 35%; left: 40%; }
#condensation-rus {	top: 30%; left: 45%; }
#condensation-kaz {	top: 42%; left: 45%; }
#freezing-eng {	top: 30%; left: 78%; }
#freezing-rus {	top: 22%; left: 83%; }
#freezing-kaz {	top: 36%; left: 85%; }
#temperature-eng {	top: 75%; left: 78%; }
#temperature-rus {	top: 82%; left: 78%; }
#temperature-kaz {	top: 68%; left: 78%; }

/*WATER CYCLE TASK*/
/*****************/

#water-cycle-task-frame
{
	background-image: url(../pics/water-cycle.jpg);
	background-size: 100% 100%;
}

#transparent-layer
{
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 0;
}

#water-cycle-task-frame h4
{
	text-align: center;
	opacity: 0.8;
	width: 98%;
	padding: 1%;
	position: absolute;
	background-color: white;
	font-size: 2vmin;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	top: 7%;
	z-index: 1;
}

#water-cycle-task-frame .normal {	background-image: url(../pics/hexagon-eng.png); color: white;}
#water-cycle-task-frame .light {	background-image: url(../pics/hexagon-kaz.png); color: #005952;}
#water-cycle-task-frame .dark {	background-image: url(../pics/hexagon-rus.png); color: white;}
#water-cycle-task-frame .active { background-image: url(../pics/hexagon-active.png); color: white; }
#water-cycle-task-frame .error { background-image: url(../pics/hexagon-error.png); color: white; }

#process-container-row-1 span, #process-container-row-2 span, #process-container-row-3 span
{
	display: inline-block;
	width: 10%;
	height: 100%;
	font-size: 2.5vmin;
	text-align: center;
	font-weight: bold;
	background-size: 100% 100%;
	padding-top: 4%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 1;
	float: left;
	-webkit-transition: all 2s;                  
    -moz-transition: all 2s;                 
    -o-transition: all 2s;   
    -ms-transition: all 2s;          
    transition: all 2s;
}

#process-container-row-1, #process-container-row-2, #process-container-row-3
{
	width: 100%;
	height: 20%;
	position: absolute;
	/*box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;*/
}
#process-container-row-1
{
	top: 30%;
	left: 8%;
}

#process-container-row-2
{
	top: 45.5%;
	left: 13.2%;
}

#process-container-row-3
{
	top: 60.5%;
	left: 18.5%;
}

#basket
{
	position: absolute;
	width: 50%;
	height: auto;
	top: 25%;
	left: 27.5%;
	opacity: 1;
}

#basket .row
{
	width: 100%;
	height: 5vmin;
}

#basket .row .data
{
	display: block;
	position: relative;
	font-size: 3vmin;
	width: 33%;
	float: left;
	height: 5vmin;
	text-align: center;
	padding-top: 1%;
	border: 1px solid white;
}

#basket .row .data span
{
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	color: white;
}

/*WATER TASK FRAME 2 AND SOME SHIT FROM WATER TASK 3*/

#water-cycle-task-2-frame
{
	background-image: url(../pics/water-cycle.jpg);
	background-size: 100% 100%;
}

#water-cycle-task-2-frame h4, #water-cycle-task-3-frame h4
{
	text-align: center;
	z-index: 1;
	opacity: 0.8;
	width: 100%;
	padding: 1%;
	position: absolute;
	top: 6%;
	background-color: white;
	font-size: 2vmin;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

#water-cycle-task-2-frame .bottom-container, #water-cycle-task-3-frame .bottom-container
{
	position: absolute;
	left: 0%;
	width: 100%;
	height: 10%;
	top: 90%;
	background-color: #81C784;
}

#water-cycle-task-2-frame .basket, #water-cycle-task-3-frame .basket
{
	width: 12%;
	height: 7%;
	border: 2px solid #009688;
	background-color: white;
	position: absolute;
	font-size: 2vmin;
	font-weight: bold;
	text-align: center;
	color: #009688;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	padding: 1%;
	border-radius: 2vmin;
}

#water-cycle-task-2-frame .ball
{
	display: block;
	position: absolute;
	padding-top: 0.5%;
	width: 10%;
	height: 4%;
	text-align: center;
	background-color: #81C784;
	border: 2px solid white;
	color: white;
	border-radius: 2vmin;
	z-index: 10;
}

.ball-background
{
	display: block;
	position: absolute;
	padding-top: 0.5%;
	width: 10%;
	height: 4%;
	text-align: center;
	background-color: white;
	border: 2px solid white;
	color: white;
	border-radius: 2vmin;
	z-index: 5;
	transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
}

#evaporation-ball {	left: 30%;	top: 92%;}
#condensation-ball {	left: 5%;	top: 92%;}
#cooling-ball {	left: 55%;	top: 92%;}
#heating-ball {	left: 80%;	top: 92%;}

#evaporation-background {	left: 30%;	top: 92%;}
#condensation-background {	left: 5%;	top: 92%;}
#cooling-background {	left: 55%;	top: 92%;}
#heating-background {	left: 80%;	top: 92%;}

#evaporation-ball-inside, #condensation-ball-inside, #cooling-ball-inside, #heating-ball-inside
{	left: 0%;	top: 0%; width: 100%; height: 100%; display: block;}

#evaporation-basket {	left: 20%;	top: 70%;}
#condensation-basket {	left: 40%;	top: 30%;}
#cooling-basket {	left: 80%;	top: 38%;}
#heating-basket {	left: 50%;	top: 80%;}
/*******************/
/*WATER CYCLE TASK 2 END*/

/*********************/
/**WATER CYCLE TASK 3**/

#water-cycle-task-3-frame
{
	background-image: url(../pics/water-cycle.jpg);
	background-size: 100% 100%;
}

#water-cycle-task-3-frame .ball
{
	display: block;
	position: absolute;
	padding-top: 0.3%;
	width: 10%;
	height: 4%;
	text-align: center;
	background-color: #81C784;
	border: 2px solid white;
	color: white;
	border-radius: 2vmin;
	z-index: 10;
}

#tento15-ball {	left: 30%;	top: 92.3%;}
#oneto40-ball {	left: 5%;	top: 92.3%;}
#over0-ball {	left: 55%;	top: 92.3%;}
#under0-ball {	left: 80%;	top: 92.3%;}

#tento15-background {	left: 30%;	top: 92%;}
#oneto40-background {	left: 5%;	top: 92%;}
#over0-background {	left: 55%;	top: 92%;}
#under0-background {	left: 80%;	top: 92%;}

#tento15-basket {	left: 45%;	top: 25%;}
#oneto40-basket {	left: 10%;	top: 60%;}
#over0-basket {	left: 70%;	top: 60%;}
#under0-basket {	left: 85%;	top: 35%;}

/**WATER CYCLE TASK 3 END*/
/*************************/

/*MATTER ANIMATION*/
/*****************/

#matter-frame
{
	background-color: white;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-o-transition: 1s;
}

.matter
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#medeo 
{ 
	background-image: url(../pics/medeo.png); 
	background-size: 100% auto;
	z-index: 10;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-o-transition: 1s;
}

#ice-skater
{
	background-image: url(../pics/ice-skater.png);
	background-size: 5%;
	background-position: 40% 40%;
	z-index: 11;
	-webkit-transition: 10s;
	-moz-transition: 10s;
	transition: 10s;
	-o-transition: 10s;
}

#cloud-and-rain 
{ 
	opacity: 0;
	background-image: url(../pics/cloud-and-rain.png); 
	z-index: 11;
	-webkit-transition: 5s;
	-moz-transition: 5s;
	transition: 5s;
	-o-transition: 5s;
}
#medeo-evaporation 
{ 
	background-image: url(../pics/medeo-evaporation.png); 
	z-index: 11;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-o-transition: 1s;
}
#sugar 
{
	background-image: url(../pics/sugar.png); 
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-o-transition: 1s;
}
#oil
{ 
	background-image: url(../pics/oil.png); 
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-o-transition: 1s;
}
#shampoo 
{ 
	background-image: url(../pics/shampoo.png); 
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-o-transition: 1s;
}
#juice 
{ 
	background-image: url(../pics/juice.png); 
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-o-transition: 1s;
}


/**********************/
/*MATTER ANIMATION END*/

/*GRAPH ANIMATION*/
/*******************/
#graph-frame
{
	background-color:  white;
}

#sphere-screen, #states-static
{
	background-repeat: no-repeat;
	background-size: 40% 40%;
	background-position: 30% 30%; 
	width: 35%;
	height: 70%;
	position: absolute;
	left: 60%;
	top: 15%;
	-moz-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}

#graph-animated
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 10px 0px gray;
	-moz-box-shadow: 0px 0px 10px 0px gray;
	box-shadow: 0px 0px 10px 0px gray;
	width: 50%;
	height: 80%;
	position: absolute;
	left: 5%;
	top: 15%;
}

#sphere-screen { background-image: url(../pics/blue-sphere.png); z-index: 1;}
#states-static { background-image: url(../pics/drop.png); background-position: 28% 28%; z-index: 2;}

/******************/
/*GRAPH ANIMATION END*/

/*QUIZ*/
/***************/

#quiz-frame
{
	background-color: white;
}

.question
{
	position: relative;
	left: 60%;
	top: 25%;
	width: 30%;
	height: 30%;
}

.question input
{
	display: block;
	width: 98%;
	height: 25%;
	margin-left: 1%;
	padding-top: 3%;
	margin-top: 3%;
	text-align: center;
	font-size: 2.5vmin;
	background-color: white;
}

.question input:focus
{
	color: white;
	background-color: #FF5555;
}

.question .graph-number
{
	position: absolute;
	padding: 0.5vmin;
	width: 7vmin;
	height: 7vmin;
	font-size: 3vmin;
	text-align: center;
	background-color: #FF5555;
	color: white;
	border-radius: 50%;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

.question .graph-number:hover
{
	background-color: #01FEFB;
	color: black;
}

.question .zero {left: -105%; top: 195%}
.question .seventeen {left: -115%; top: 160%}
.question .sixtyfive {left: -110%; top: 105%}
.question .onefifteen {left: -115%; top: 55%}
.question .onethirty {left: -110%; top: 20%}

.question .state
{
	position: absolute;
	background-color: #FF5555;
	color: white;
	font-size: 3vmin;
	width: 50%;
	height: 20%;
	text-align: center;
	padding: 0.5vmin;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5vmin;
}

.question .state:hover
{
	background-color: #01FEFB;
	color: black;
}

.question .gas {left: -30%;	top: 45%;}
.question .liquid {left: -50%;	top: 110%;}
.question .solid {left: -100%;	top: 190%;}

#quiz-graph
{
	position: absolute;
	top: 27%;
	left: 20%;
	width: 50%;
	height: 70%;
	background-image: url(../pics/task-heat-graph.jpg);
	background-size: 100% 100%;
	background-position: 98.5% 0%;
}

#answers
{
	position: absolute;
	top: 30%;
	left: 70%;
	width: 25%;
	height: 50%;
	background-color: white;
	text-align: center;
	padding: 1%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(22,40,201,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(22,40,201,1);
	box-shadow: 0px 0px 10px 0px rgba(22,40,201,1);
}

.result
{
	margin-top: 2%;
	border-top: 1px solid blue;
	font-size: 2vmin;
}

#final-result
{
	margin-top: 5%;
	border-top: 1px solid red;
	font-size: 2vmin;
}
/***************/
/*QUIZ*/

/**RESPONSIVE SKETCH PAD*/
/***********************/

#sketchpad-frame
{
	background-color: white;
}

#sketchpad-container
{
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0%;
	top: 0%;
}

#responsive-sketchpad
{
	background-image: url(../pics/graph-notepad.png);
	background-size: auto auto;
	border-color: 1px dashed red;
}

#sketchpad-task
{
	position: absolute;
	left: 2%;
	top: 10%;
	width: 20%;
	height: 30%;
	padding-top: 1%;
	font-size: 2vmin;
	z-index: 1;
	text-shadow: 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white,  0vmin 0vmin 1vmin white;
}

#sketchpad-task ul
{
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 6%;
	text-shadow: 
}

#sketchpad-controls
{
	width: 60%;
	height: 10%;
	position: absolute;
	left: 40%;
	top: 2%;
}

#sketchpad-controls .red
{
	color: red;
}

#sketchpad-controls .blue
{
	color: blue;
}

#sketchpad-controls span
{
	float: left;
	text-align: center;
	padding-top: 6%;
	margin-top: 1%;
	display: block;
	width: 20%;
	height: 100%;
	font-size: 5vmin;
	color: black;
	background-color: transparent;
}

#sketchpad-controls span:hover
{
	text-shadow: 0vmin 0vmin 2vmin #FB7B25, 0vmin 0vmin 2vmin #FB7B25, 0vmin 0vmin 2vmin #FB7B25;
	color: white;
}

#toggle-task
{
	z-index: 5;
	position: absolute;
	top: 12%;
	left: 3%;
	font-size: 5vmin;
}

#toggle-task:hover
{
	text-shadow: 0vmin 0vmin 2vmin #FB7B25, 0vmin 0vmin 2vmin #FB7B25, 0vmin 0vmin 2vmin #FB7B25;
	color: white;
}
/***********************/
/**RESPONSIVE SKETCH PAD*/

/*****ATOM JOIN AND ZOOM****/
/***********************/
#molecular-structure-frame
{
	background-color: white;
}

#atom-join
{
	width: 25%;
	height: 50%;
	background-image: url(../pics/molecules.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 35%;
	top: 25%;
}

#ice-zoom
{
	width: 25%;
	height: 50%;
	position: absolute;
	left: 37%;
	top: 10%;
	background-image: url(../pics/glass.png);
	background-size: 100% 100%;
	background-position: center;
}

.structure-pic
{
	width: 80%;
	height: 50%;
	background-color: white;
	background-image: url(../pics/crystal-cage-ice.png), url(../pics/crystal-cage-ice.png);
	background-size: 100% 100%;
	position: absolute;
	border: 0.2vmin solid lightGray;
	left: 15%;
	top: 25%;
}
/***********************/
/*****ATOM JOIN AND ZOOM****/

/*****MATTER STATE CHANGE**/
/*************************/
#pic-container
{
	width: 70%;
	height: 100%;
	position: relative;
	left: 15%;
	top: 0%;
	background-image: url(../pics/state-change-animate.jpg);
	background-position: 0% 0%;
}

/*************************/
/*****MATTER STATE CHANGE**/

/**CRYSTALLINE STRUCTURE TASK**/
/****************************/

#crystalline-structure-frame
{
	background-color: white;
}

#structure-task-background
{
	width: 70%;
	height: 70%;
	left: 30%;
	top: 15%;
	position: absolute;
	background-image: url(../pics/cycle-of-water.png);
	background-size: 100% 100%;
}

.crystalline-basket
{
	width: 12.5%;
	height: 25%;
	background-size: 100% 100%;
	position: absolute;
	border-radius: 50%;
	border: 2px solid #777978;
	background-color: #3BA5FF;
	animation-name: backgroundAnimation;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

#solid-structure-basket { left: 58%; top: 55.5%; }
#liquid-structure-basket { left: 43.8%; top: 34.3%;}
#gas-structure-basket {	left: 58%; top: 16.5%;}

.structure-ball
{
	display: block;
	position: absolute;
	border-radius: 50%;
	border: 0.1vmin solid #317A23;
	width: 12.5%;
	height: 25%;
	background-size: 100% 50%;
	background-position: 0% 40%;
	background-repeat: no-repeat;
}

#solid-structure-ball { left: 15%; top: 20%; background-image: url(../pics/solid-grey.png); }
#liquid-structure-ball { left: 5%; top: 40%; background-image: url(../pics/liquid-grey.png);}
#gas-structure-ball { left: 15%; top: 60%; background-image: url(../pics/gas-grey.png); }

/****************************/
/**CRYSTALLINE STRUCTURE TASK**/

/*HEAT VIDEO*/
/***************************/
#heat-video-frame
{
	background-color: white;
}
#molecules-animated-off, #molecules-animated-on, #teapot-on, #teapot-off, #teapot-animated, #thermometer-animated
{
	position: absolute;
	left: 25%;
	top: 0%;
	width: 50%;
	height: 100%;
}

#turn-on-button, #turn-off-button
{
	border-radius: 50%;
	width: 15%;
	height: 30%;
	border: 0.5vmin solid black;
	text-align: center;
	font-size: 4vmin;
	font-weight: bold;
	padding-top: 6%;
	color: white;
	background-color: #C1C4C7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	position: absolute;
	left: 80%;
	top: 60%;
}

#turn-on-button:hover, #turn-off-button:hover
{
	background-color: #EE1B22;
}

#molecules-animated-off {background-image: url(../pics/molecules-off.gif); z-index: 100;}
#molecules-animated-on { background-image: url(../pics/molecules-on.png); z-index: 100;}
#teapot-on { background-image: url(../pics/teapot-on.png); }
#teapot-off { background-image: url(../pics/teapot-off.png); }
#teapot-animated { background-image: url(../pics/teapot-boiling.gif); }
#thermometer-animated {	background-image: url(../pics/thermometer-on.png); }

/***************************/
/*HEAT VIDEO*/

/*MATCH TASK FRAME*/
/***************************/
#match-task-frame
{
	background-color: white;
}

#match-task-frame .question
{
	width: 10%;
	height: 20%;
	position: absolute;
	font-size: 2.5vmin;
	font-weight: bold;
	text-align: center;
	color: black;
}

.molecule-label, .basket
{
	width: 10%;
	height: 20%;
	position: absolute;
	border: 0.5vmin solid black;
	font-size: 8vmin;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	padding-top: 2.4%;
	color: white;
	border-radius: 50%;
}

.basket {z-index: 1;}
.molecule-label {z-index: 2;}

#label-o
{
	left: 10%;
	top: 50%;
	background-color: #F15E95;
}

#label-c
{
	left: 85%;
	top: 50%;
	background-color: #54CAEE;
}

#heat-label
{
	top: 30%;
	left: 10%
}

#cool-label
{
	top: 30%; 
	left: 85%;
}

.draggable-container
{
	width: 40%;
	height: 14%;
	position: absolute;
}

.draggable-container *
{
	position: relative;
	display: block;
	float: left;
	background-color: white;
}

.draggable-container .handle
{
	width: 20%;
	height: 100%;
	font-size: 5vmin;
	text-align: center;
	color: white;
	border: 0.5vmin solid black;
	border-radius: 50%;
	padding-top: 5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #84C642;
}

.answer
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0.5vmin solid black;
	border-radius: 1vmin;
	left: 5%;
	top: 10%;
	width: 60%;
	height: 80%;
	padding: 3%;
}

.draggable-container .answer { width: 70%; }
#d-container-1 { left: 30%; top: 20%; }
#d-container-2 { left: 30%; top: 35%; }
#d-container-3 { left: 30%; top: 50%; }
#d-container-4 { left: 30%; top: 65%; }

#basket-1 {top: 40%; left: 3%; }
#basket-2 {top: 40%; left: 17%;}
#basket-3 {top: 40%; left: 85%;}
#basket-4 {top: 60%; left: 85%;}

#match-task-frame .is-dragging
{
	z-index: 10;
}

/***************************/
/*MATCH TASK FRAME*/

/*DRAG FILL TASK*/
/***********************/
#drag-fill-task-frame
{
	background-image: url(../pics/last-frame-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right;
}

#drag-fill-task-frame *
{
	text-shadow: 0vmin 0vmin 2vmin black, 0vmin 0vmin 2vmin black, 0vmin 0vmin 2vmin black, 0vmin 0vmin 2vmin black;
	font-weight: bold;
}

#girl-image
{
	position: absolute;
	height: 100%;
	width: 70%;
	background-image: url(../pics/final-girl.png);
	background-size: 100% 100%;
}
#task-basket-container
{
	position: absolute;
	color: white;
	width: 50%;
	height: 40%;
	left: 45%;
	text-align: justify;
	top: 65%;
	font-size: 3.5vmin;
}

.blank
{
	display: inline-block;
	width: 30%;
	height: 10%;
	text-align: center;
	border-bottom: 0.5vmin dotted black;
}

.task-ball
{
	display: block;
	position: absolute;
	font-size: 3vmin;
	width: 15%;
	height: 10%;
	margin: 3%;
	color: white;
	text-align: center;
}

.ball-1 { left: 62%; top: 35%; }
.ball-2 { left: 40%; top: 45%; font-size: 2.5vmin;}
.ball-3 { left: 25%; top: 45%; font-size: 2vmin;}
.ball-4 { left: 78%; top: 2%;}
.ball-5 { left: 40%; top: 30%;}

/***********************/
/*DRAG FILL TASK*/

/*FACTS LIST*/
/***********************/
#facts-home
{
	display: block;
	position: absolute;
	width: 30%;
	height: 30%;
	left: 80%;
	top: 80%;
	font-size: 10vmin;
}

#facts-home:hover
{
	color: white;
}

.fact
{
	width: 100%;
	height: 100%;
	position: absolute;
}

.fact-text
{
	width: 35%;
	height: 70%;
	position: absolute;
	padding: 5%;
	text-align: center;
	border-radius: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	o-box-sizing: border-box;
}

.fact-pic
{
	width: 10%;
	height: 20%;
	position: absolute;
	padding: 5%;
	z-index: 10;
	border-radius: 50%;
	background-size: 100% 100%;
	background-position: center;
}

.fact-pic:hover
{
	border: 1px dashed red;
}

#cooker-pic { left: 80%; top: 20%; background-image: url(../pics/cooker.png); }
#mountain-pic { left: 60%; top: 20%; background-image: url(../pics/mountain.png); }
#fridge-pic { left: 40%; top: 20%; background-image: url(../pics/fridge.png); }
#boiling-point-pic { left: 20%; top: 20%; background-image: url(../pics/boiling-point.png); }
#petrol-station-pic { left: 0%; top: 20%; background-image: url(../pics/petrol-station.png); }
#source-pic { background-color: black;  }

/*RESEARCH*/
/***********************/
#research-slide
{
	background-image: url(../pics/research-background.png);
	background-size: 100% 100%;
}

#research-home
{
	display: block;
	position: absolute;
	width: 30%;
	height: 30%;
	left: 80%;
	top: 80%;
	font-size: 10vmin;
}

#research-home:hover
{
	color: white;
}

#research-slide ul
{
	display: block;
	position: absolute;
	width: 40%;
	height: 60%;
	left: 31%;
	top: 28%;
	list-style-type: none;
	text-align: center;
}

/*TEST PART*/

#test-home
{
	color: white;
	position: absolute;
	display: block;
	left: 3%;
	top: 3%;
	font-size: 7vmin;
	z-index: 50;
}

#test-slide
{
	background-image: url(../pics/test-background.png);
	background-size: 100% 100%;
}

.test-question
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	font-size: 2.5vmin;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

.test-question-question
{
	display: block;
	font-size: 3vmin;
	text-align: center;
	position: relative;
	top: 0%;
	left: 25%;
	width: 50%;
	min-height: 30%;
	padding: 6%;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

.test-question-answer
{
	position: absolute;
	font-size: 3vmin;
	text-align: left;
	width: 50%;
	color: white;
	height: 12%;
	clear: right;
	-webkit-transition: all 3s;                  
    -moz-transition: all 3s;                 
    -o-transition: all 3s;   
    -ms-transition: all 3s;          
    transition: all 3s;
	text-shadow: 0vmin 0vmin 2vmin #045472, 0vmin 0vmin 2vmin #045472, 0vmin 0vmin 2vmin #045472, 0vmin 0vmin 2vmin #045472;
}

.test-question-answer-0{left: 20%; top: 45%;}
.test-question-answer-1{left: 25%; top: 55%;}
.test-question-answer-2{left: 30%; top: 65%;}
.test-question-answer-3{left: 35%; top: 75%;}
.test-question-answer-4{left: 40%; top: 85%;}

.rain-drop
{
	background-image: url(../pics/rain-drop.png);
	background-size: 100% 100%;
	width: 8%;
	height: 100%;
	float: left;
}
.answer-text
{
	width: 60%;
	height: 100%;
	display: block;
	position: relative;
	font-weight: bold;
	float: left;
	padding-left: 3%;
	padding-top: 3%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	o-box-sizing: border-box;
	ms-box-sizing: border-box;
}

.questions-result
{
	position: absolute;
	font-size: 2.5vmin;
	width: 40%;
	height: 40%;
	left: 30%;
	top: 30%;
	text-align: center;
}

.timer
{
	position: absolute;
	width: 10%;
	height: 10%;
	padding-top: 2%;
	text-align: center;
	font-size: 10vmin;
	font-weight: bold; 
	left: 90%;
	top: 86%;
	color: #334960;
	font-family: Digital;
}
#dew, #cloud, #frost, #fog, #ice
{
	position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 10%;
	height: 20%;
	border: 0.5vmin solid black;
	border-radius: 50%;
}
#dew {background-image: url(../pics/dew-circle.png); left: 20%; top: 40%;}
#cloud {background-image: url(../pics/cloud-circle.png); left: 25%; top: 70%;}
#frost {background-image: url(../pics/frost-circle.png); left: 75%; top: 70%;}
#fog {background-image: url(../pics/fog-circle.png); left: 85%; top: 50%;}
#ice {background-image: url(../pics/ice-circle.png); left: 70%; top: 35%;}

.hasShadow
{
	-webkit-box-shadow: 0px 0px 1vmin 1vmin red;
	-moz-box-shadow: 0px 0px 1vmin 1vmin red;
	box-shadow: 0px 0px 1vmin 1vmin red;
}

.hasTwoShadows
{
	-webkit-box-shadow: 0px 0px 1vmin 2vmin blue, 0px 0px 1vmin 1vmin red;
	-moz-box-shadow: 0px 0px 1vmin 2vmin blue, 0px 0px 1vmin 1vmin red;
	box-shadow: 0px 0px 1vmin 2vmin blue, 0px 0px 1vmin 1vmin red;
}

.question-ball
{
	width: 15%;
	height: 30%;
	position: absolute;
	left: 45%;
	top: 50%;
	border-radius: 50%;
	border: 0.5vmin solid black;
	padding: 3%;
	font-size: 2vmin;
	font-weight: bold;
	text-align: center;
	color: black;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #6BFF48;
}

.test-pic
{
	display: block;
	position: absolute;
	left: 100%;
	top: 10%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(22,40,201,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(22,40,201,1);
	box-shadow: 0px 0px 10px 0px rgba(22,40,201,1);
}

#grandpa
{
	position: absolute;
	width: 23%; 
	height: 43%;
	top: 56%;
	background-repeat: no-repeat;
	background-size: 110% 120%;
	background-position: 60% 0%;
}

/******************/
/***NAVIGATION***/

.nav
{
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	background-color: transparent;
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 10%;
	font-size: 5vmin;
	padding: 1%;
	z-index: 20;
}

.nav i
{
	display: block;
	float: left;
	text-shadow: 0vmin 0vmin 2vmin black;
	color: white;
	margin-left: 25%;
}

.nav i:hover, .language-select:hover
{
	color: #1FCF6D;
}

.frame h3
{
	color: black;
	width: 95%;
	height: 20%;
	font-size: 4vmin;
	text-align: center;
	position: absolute;
	color: #00695C;
	z-index: 1;
	top: 5%;
	left: 2.5%;
}

/***NAVIGATION***/
/******************/

/****************/
/****MAP*********/

.map
{
	position: absolute;
	width: 97%;
	left: 1%;
	top: 2%;
	background-color: transparent;
	text-align: center;
	padding: 1vmin;
	z-index: 10000;
}

.map .active-icon, .map .fa-circle, .map .fa-minus, .map .fa-circle-o, .map .fa-home
{
	color: white;
	vertical-align: middle;
	text-shadow: 0vmin 0vmin 1vmin black;
}