@font-face
{
	font-family: Merriweather;
	src: url("../fonts/MerriweatherRegular.ttf");
}

@font-face
{
	font-family: Merriweather;
	font-weight: bold;
	src: url("../fonts/MerriweatherBold.ttf");
}

@font-face
{
	font-family: Merriweather;
	font-weight: lighter;
	src: url("../fonts/MerriweatherLight.ttf");
}

.regular
{
	font-family: Merriweather;
}

.bold
{
	font-family: Merriweather;
	font-weight: bold;
}

.light
{
	font-family: Merriweather;
	font-weight: lighter;
}

.center
{
	text-align: center;
}