body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#main
{
	background-color: #334960;
	width: 100%;
	height: 100%;
	position: absolute;
}

.slide
{
	background-color: #01BF9D;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.frame
{
	width: 100%;
	height: 100%;
	background-color: #EA4B35;
}

#loading-progress
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	padding: 5%;
}

#progress-bar
{
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	position: relative;
	width: 0%;
	height: 10%;
	background-color: white;
	top: 45%;

	
}