#menu-slide
{
	
	background-image: url(../pics/title.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
#girl-animated
{
	background-image: url(../pics/girl-animated.gif);
	background-position: 0% -30%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 25%;
	height: 100%;
	position: absolute;
	left: 53%;
	z-index: 10;
}
#menu-slide .menu-btn
{
	display: block;
	float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 8vmin;
	border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	padding: 5vmin;
	position: absolute;
}

#der-btn { height: 20%; width: 10%; background-image: url(../pics/der-icon.png); background-size: 100% 100%; left: 16%; top: 50%;} 
#der-btn:hover { background-image: url(../pics/der-icon-default.png); }


#test-btn { height: 16%; width: 8%; background-image: url(../pics/self-check-icon.png); background-size: 100% 100%; left: 31%; top: 52%;}
#test-btn:hover { background-image: url(../pics/self-check-icon-default.png);}


#facts-btn { height: 14%; width: 7%; background-image: url(../pics/facts-icon.png); background-size: 100% 100%; left: 46%; top: 53.5%;}
#facts-btn:hover { background-image: url(../pics/facts-icon-default.png);}

#research-btn { height: 12%; width: 6%; background-image: url(../pics/research-icon.png); background-size: 100% 100%;  left: 82%; top: 54%;}
#research-btn:hover { background-image: url(../pics/research-icon-default.png);}

.menu-btn .menu-icon
{
	box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
	display: block;
	width: 100%;
	height: 100%;
	float: left;
}

.menu-label
{
	display: block;
	height: auto;
	width: 25vmin;
	font-size: 2.5vmin;
	text-align: center;
	position: absolute;
}

.label-1 { left: 15%; top: 72%;}
.label-3 { left: 29%; top: 70%;}
.label-2 { left: 43%; top: 69%;}
.label-4 { left: 79%; top: 68%;}